@charset "utf-8";

/* CSS Document */
@media only screen and (min-width: 1480px) {
.section-img {
	background-position: -85px -434px;
	background-size: 70%;
}
.section-img-right {
	background-position: 700px -414px;
	background-size: 70%;
}
}

@media only screen and (max-width: 1300px) {
.secondary-bg .hero-content {
	height: 50vh;
}
}

@media only screen and (max-width: 1200px) {
.scrolldown {
	display: none;
}
.hero-section {
	background-size: auto;
	padding: 15px 0;
}
.service-section, .dispatch-section, .customer-section, .intro-section, footer {
	padding: 50px 0 60px 0;
}
.mb-110 {
	margin-bottom: 50px !important;
}
.gradient-line {
	display: none;
}
.customer-section .line, .line {
	top: 165px;
	display: none;
}
.icon-tab-list li {
	margin: 0 17px;
}
.icon-tab-list li + li:after {
	display: none;
}
.innerpage-section {
	padding-top: 0;
}
.section-img {
	background-position: -85px -190px;
}
.dispatch-content {
	margin-top: 44px;
}
.dispatch-content h5 {
	font-size: 15px;
}
.dispatch-content .solid-btn {
	font-size: 15px;
}
.dispatch-content .solid-btn i {
	width: 29px;
}
.section-img-right {
	background-position: 356px -194px;
}
}
@media (min-width:990px) and (max-width:1200px) {
	.service-list .service-info {
		right: 0;
	}
}
@media only screen and (max-width: 990px) {
.logo {
	margin: 0 auto 15px auto;
	width: 130px;
}
header {
	position: static;
	padding: 10px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#001020+0,071731+100 */
	background: rgb(0,16,32); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(0,16,32,1) 0%, rgba(7,23,49,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(0,16,32,1) 0%, rgba(7,23,49,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(0,16,32,1) 0%, rgba(7,23,49,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001020', endColorstr='#071731', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.navbar-toggler {
	color: #fff;
	float: right;
	width: 100%;
	text-align: center;
	border-radius: 0;
	box-shadow: none;
}
.navbar-toggler:focus {
	outline: none;
}
.navbar-toggler span {
	line-height: 1.5em;
	text-align: center;
}
.navbar-collapse {
}
.navbar-expand-lg .navbar-nav .nav-link {
	text-align: center;
}
.navbar-expand-lg .navbar-nav .nav-item:hover .dropdown-menu {
	display: none !important;
}
.navbar-expand-lg .navbar-nav .nav-item.show .dropdown-menu {
	display: block !important;
	position: static;
	margin-left: 0;
	padding: 0;
	border-radius: 0;
}
.navbar-nav .dropdown-menu:before {
	display: none;
}
header .float-right {
	float: none !important;
}
.top-header {
	text-align: center !important;
}
.top-header a {
	padding: 0;
}
.hero-content, .secondary-bg .hero-content {
	height: auto;
	padding: 50px 0;
}
footer {
}
footer .col-lg-4 {
	padding: 0 15px;
}
footer .footer-logo {
}
footer .footer-menu {
	padding: 0;
	margin-top: 20px;
}
.section-img {
	background: none;
	min-height: inherit;
	padding: 0 0;
}
.section-img h4 {
	font-size: 14px;
	margin-top: 30px;
}
.dispatch-content {
	margin-top: 0;
	text-align: center;
}
.dispatch-content .list {
	text-align: left;
	max-width: 350px;
	margin: 0 auto;
}
.innerpage-section .map-bg1 {
	padding: 50px 0 0 0;
}
.dispatch-content .solid-btn {
	font-size: 12px;
}
.dispatch-content .solid-btn i {
	width: 30px;
}
.dispatch-content h5 {
	font-size: 13px;
	line-height: 20px;
}
.dispatch-content .list li, .dispatch-content b {
	font-size: 11px;
}
.dispatch-content b {
	margin: 15px 0 25px 0;
}
}

@media only screen and (max-width: 850px) {
footer .footer-links {
	text-align: left;
	padding: 0;
}
.hero-content h2 {
	font-size: 22px;
	line-height: 25px;
}
.hero-content h3 {
	font-size: 15px;
}
.hero-content .button-wrapper a.btn {
	padding: 6px 30px;
	margin: 10px 17px;
}
.line {
	display: none;
}
.title h3, .intro-section .intro-title h4 {
	font-size: 19px;
	line-height: 23px;
}
.title p {
	font-size: 14px;
}
.intro-section .intro-title h3 {
	line-height: normal;
	font-size: 18px;
}
.intro-section .introduction a.btn {
	font-size: 15px;
}
.service-list .service-info {
	right: 0;
}
}

@media only screen and (max-width: 767px) {
.teamuse-section ul li {
	padding: 0 10px;
}
.section-img-right .dispatch-content {
	margin-top: 40px;
}
}

@media only screen and (max-width: 680px) {
	.service-list .service-info {
		width: 100%;
	}
.service-list .service-info {
	position: static;
	text-align: center;
}
.service-list .service-img, .service-list .service-info {
	margin: 0 auto;
    float: none;

}
.service-list .service-img, .service-list {
	margin-bottom: 20px;
}
.service-list .service-img img {
	
}
.icon-tab-list li {
	margin: 0 5px;
}
.icon-tab-list li a {
	font-size: 10px;
}
.demo-section .title h3 {
	line-height: normal;
}
.demo-section .btn-outline-primary {
	font-size: 14px;
	padding: 5px 15px;
}
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}
