@import url("bootstrap.min.css");

/* Using a url */

@import url("gotham.css");

/* Using a url */

@import url("chronicle.css");

/* Using a url */

@import url("font-awesome.css");

/* Using a url */

@import url("animation.css");

/* Using a url */

@import url("owl.carousel.min.css");

/* Using a url */

@import url("scrolleffect.css");

/* Using a url */

@import url("slick.css");

/* Using a url */

@import url("slick-theme.css");

/* Using a url */

html {
	height: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #2c3e50;
	counter-reset: section;
	font-size: 14px;
	font-family: 'Gotham-Book';
	margin: 0;
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	outline: none !important;
	margin: 0;
	padding: 0;
}

p+p {
	padding: 10px 0;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

iframe {
	max-width: 100%;
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
}

.mt30 {
	margin-top: 40px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.clear {
	clear: both;
}


/*Common Css*/

.mb-110 {
	margin-bottom: 110px !important;
}

.mb-30 {
	margin-bottom: 30px !important;
}

.blue-text {
	color: #51bcec;
}

.title {
	max-width: 850px;
	margin: 0 auto;
}

.title h3 {
	font-family: 'Gotham-Medium';
	font-size: 29px;
	line-height: 33px;
	text-transform: uppercase;
}

.title h4,
.section-img h4 {
	font-size: 28px;
	text-transform: uppercase;
	margin-top: 90px;
	text-align: center;
}

.title p {
	font-size: 20px;
	text-transform: uppercase;
}

.section {
	position: relative;
}

.pl-350 {
	padding-left: 355px !important;
}

.line {
	/*
	max-width: 420px;
	height: 5px;
	width: 100%;
	position: absolute;
	top: 220px;
	right: 0;
	display: block;
	background-color: #51bcec;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
*/
}

.object-non-visible {
	opacity: 0;
	filter: alpha(opacity=0);
}

.object-visible,
.touch .object-non-visible {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}


/* Targeting only Firefox for smoothest animations */

@-moz-document url-prefix() {
	.object-visible,
	.touch .object-non-visible {
		-webkit-transition: opacity 0.6s ease-in-out;
		transition: opacity 0.6s ease-in-out;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1217px;
	}
}


/*Header Css Start*/

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 55px 0;
	z-index: 9;
}

.logo {}

.logo a {}

.logo a img {}

.top-header {}

.top-header a {
	font-size: 13px;
	padding: 0px 18px;
	margin: 3px 7px;
	color: #51bcec;
	font-family: 'Gotham-Bold';
}

.top-header a.btn {
	border-radius: 0;
	padding: 3px 21px;
	border-color: #3b8bb4;
	color: #ffffff;
	font-family: 'Gotham-Light';
}

.navbar {}

.navbar-brand {
	display: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	padding: 7px 10px;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
	color: #51bcec;
}

.navbar-expand-lg .navbar-nav .nav-item:hover .dropdown-menu {
	display: block !important;
}

.dropdown-toggle::after {
	display: none;
}

.navbar-nav .dropdown-menu {
	min-width: 236px;
	padding: 15px 0;
	margin: 0;
	left: 50%;
	margin-left: -118px;
	border-radius: 7px;
}

.navbar-nav .dropdown-menu:before {
	content: "";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #ffffff;
	display: block;
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -5px;
}

.dropdown-item,
.navbar-expand-lg .navbar-nav ul.dropdown-menu .dropdown-item a {
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.5px;
}

.dropdown-item .menu-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 13px;
}

.dropdown-item:hover,
.navbar-expand-lg .navbar-nav ul.dropdown-menu .dropdown-item a:hover {
	background-color: #007bff;
	color: #fff;
}

.dropdown-item:hover img {
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
	;
}

.navbar-expand-lg .navbar-nav ul.dropdown-menu .dropdown-item a {
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

ul.dropdown-menu .dropdown-item {
	position: relative;
}

ul.dropdown-menu .dropdown-item:after {
	/* with class ModalCarrot ??*/
	position: absolute;
	/*or absolute*/
	z-index: 100000;
	/*a number that's more than the modal box*/
	left: 10px;
	top: 10px;
}

ul.dropdown-menu .dropdown-item.dispatcher:after {
	content: url('../images/dispatcher.png');
}

ul.dropdown-menu .dropdown-item.intro:after {
	content: url('../images/INTRO.png');
}

ul.dropdown-menu .dropdown-item.driver:after {
	content: url('../images/driver.png');
}

ul.dropdown-menu .dropdown-item.customers:after {
	content: url('../images/customer.png');
}

ul.dropdown-menu .dropdown-item.back:after {
	content: url('../images/management.png');
}


/*Hero Section Css Start*/

.hero-section {
	/*	background: url(../images/hero-bg.jpg) no-repeat center -70px;*/
	background: url(../images/hero-bg.jpg) no-repeat 50% 50%;
	height: 100%;
	position: relative;
	background-size: cover !important;
	/*    padding: 29px 0 0 0;*/
}

.secondary-bg {
	background: url(../images/top-header-dispatch.jpg) no-repeat center;
	padding: 130px 0 0 0;
}

.hero-content {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100vh;
	color: #fff;
}

.hero-content h1 {
	text-transform: uppercase;
	font-family: 'Gotham-Medium';
	font-size: 36px;
	line-height: 46px;
	letter-spacing: 1.4px;
}

.hero-content h2 span {
	display: block;
}

.hero-content h3 {
	font-size: 21px;
	margin-top: 13px;
	letter-spacing: 0.5px;
}

.hero-content p {
	margin: 50px 0 60px 0;
}

.hero-content p img {
	width: auto;
	margin: 0 auto;
}

.secondary-bg .hero-content {
	height: 68vh;
}

.hero-content .button-wrapper {}

.hero-content .button-wrapper a.btn {
	color: #ffffff !important;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 0;
	border-color: #4193bd !important;
	padding: 9px 30px;
	margin: 0 17px;
}

.secondary-bg .hero-content h2 span {
	display: inline-block;
}

.scrolldown {
	position: absolute;
	bottom: 60px;
	left: 50%;
	margin-left: -7px;
}

.scrolldown a {
	display: block;
}

.scrolldown a img {
	width: auto;
	margin: 0 auto;
}


/*Service Section Css Start*/

.service-section {
	background: url(../images/service-bg.png) no-repeat center -680px, url(../images/service-bg-bottom.png) no-repeat center 120%;
	/*padding: 130px 0 60px 0;*/
}

.innerpage-section {
	padding: 0;
}

.service-list {
	position: relative;
}

.service-list .service-img {
	/* position: absolute; */
	/* left: 0; */
	/* top: -32px; */
	position: relative;
	float: left;
	vertical-align: top;
	width: 230px;
	height: 230px;
	background: url('../images/circle-bg.png') no-repeat;
	background-size: cover;
	margin-bottom: 110px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.service-list .service-img img {
	width: 70px;
	margin: 0 auto;
}

.service-list .service-info {
	position: absolute;
	right: 46px;
	top: -6px;
	width: 65%;
	margin-top: 30px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 150px;
}

.service-list .service-info h4 {
	margin-bottom: 14px;
}

.service-list .service-info h4 a {
	color: #0a111a;
	font-size: 18px;
	font-family: 'Gotham-Medium';
	display: block;
}

.service-list .service-info p {
	color: #838282;
	font-size: 13px;
}


/*Dispatch Section Css Start*/

.dispatch-section {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#01142a+0,041b35+100 */
	background: rgb(1, 20, 42);
	/* Old browsers */
	/* FF3.6-15 */
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(1, 20, 42, 1) 0%, rgba(4, 27, 53, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01142a', endColorstr='#041b35', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	padding: 130px 0;
	/* background-size: cover; */
}

.dispatch-section:before {
	content: "";
	width: 100%;
	height: 100%;
	background: url(../images/dispatch-bg1.png) no-repeat center -76px;
	display: block;
	position: absolute;
	top: 0;
}

.dispatch-section .title h3 {
	color: #ffffff;
}

.dispatch-section .item {
	position: relative;
	padding-left: 160px;
}

.dispatch-section .item .icon {
	position: absolute;
	top: 0;
	left: 0;
}

.dispatch-section .item .icon img {
	width: auto;
}

.dispatch-section .item .dispatch-info {}

.dispatch-section .item .dispatch-info h4 {
	font-size: 22px;
	text-transform: uppercase;
	font-family: 'Gotham-Medium';
}

.dispatch-section .item .dispatch-info p {
	color: #fff;
}

.dispatch-section .owl-item.active:first-child {}

.dispatch-section .owl-item.active:last-child {}


/*Client Section Css Start*/

.customer-section {
	background: url(../images/client-bg.jpg) no-repeat left top;
	background-size: cover;
	padding: 130px 0;
	background-attachment: fixed;
}

.customer-section .title {}

.customer-section .title h3 {
	color: #ffffff;
	margin-bottom: 19px;
}

.customer-section .title p {
	font-size: 12px;
	color: #838282;
	text-transform: none;
	line-height: 19px;
}

.customer-section .title p span {
	display: block;
}

.customer-section .line {
	top: 305px;
}

.customer {
	text-align: center;
	color: #ffffff;
	padding: 0 60px;
}

.customer .img-thumbnail {
	background-color: transparent;
	border: none;
	width: auto;
	height: auto;
	border-radius: 0;
	text-align: center;
	margin-left: 32px;
	margin-bottom: 20px;
}

.customer .img-thumbnail img {}

.customer .client-info {}

.customer .client-info .client-title {
	font-size: 13px;
	padding-bottom: 20px;
	border-bottom: 1px solid #143e55;
	margin-bottom: 20px;
}

.customer .client-info .client-title h5 {
	font-size: 13px;
	line-height: 24px;
	font-family: 'Gotham-Medium';
}

.customer .client-info .client-title p {
	color: #51bcec;
	font-family: 'Conv_Chronicle Text G1 Italic';
	font-style: italic;
}

.customer .client-info .description {
	font-family: 'Conv_Chronicle Text G1 Italic';
	font-style: italic;
}

.customer .client-info .description p {}


/*Intro Section Css Start*/

.intro-section {
	background: url(../images/intro-bg.png) no-repeat left -50px;
	padding: 130px 0;
}

.intro-section .image-wrapper {
	margin-left: -15px;
}

.intro-section .introduction {
	text-align: center;
}

.intro-section .intro-title {
	margin-bottom: 22px;
}

.intro-section .intro-title h4 {
	font-size: 22px;
	text-transform: uppercase;
	line-height: 28px;
}

.intro-section .intro-title h4 span {
	display: block;
}

.intro-section .intro-title h3 {
	font-size: 28px;
	line-height: 35px;
	font-family: 'Gotham-Medium';
	margin-top: 1px;
}

.intro-section .intro-title h3 span {
	display: block;
}

.intro-section .introduction p {}

.intro-section .introduction a.btn {
	margin-top: 42px;
	border-radius: 0;
	font-size: 25px;
	font-family: 'Gotham-Medium';
	text-transform: uppercase;
	color: #51bcec;
	border-color: #51bcec;
}

.intro-section .introduction a.btn:hover {
	color: #ffffff;
	background-color: #51bcec;
}


/*Footer Css Start*/

footer {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#041b35+1,001227+100 */
	background: rgb(4, 27, 53);
	/* Old browsers */
	/* FF3.6-15 */
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(4, 27, 53, 1) 1%, rgba(0, 18, 39, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#041b35', endColorstr='#001227', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	padding: 100px 0 60px 0;
}

footer .col-lg-4 {
	padding: 0 40px;
}

footer .footer-logo {
	margin-bottom: 35px;
}

footer .footer-content p {
	color: #979797;
	line-height: 18px;
	font-size: 12px;
}

footer .footer-menu {
	padding: 0 35px;
}

footer .footer-menu ul {}

footer .footer-menu ul li {
	list-style: none;
	position: relative;
	margin-bottom: 12px;
}

footer .footer-menu ul li.active:before,
.footer-menu ul li.enable:before {
	content: "";
	width: 40px;
	height: 1px;
	display: block;
	position: absolute;
	background-color: #24818f;
	top: 50%;
	left: 50%;
	margin-left: -20px;
}

footer .footer-menu ul li a {
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	display: block;
}

footer .footer-menu ul li.active a {
	color: #51bcec;
}

footer .footer-menu ul li .sub-menu {}

footer .footer-menu ul li .sub-menu li {
	margin-bottom: 0;
}

footer .footer-menu ul li .sub-menu li a {
	font-size: 10px;
	color: #51bcec;
	line-height: 14px;
}

footer .btn-wrapper {
	margin-bottom: 0px;
	padding: 0 40px 0 40px;
}

footer .btn-wrapper a {
	border-radius: 0;
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	padding: 7px 20px;
	border-color: #3c90ba;
	margin-right: 0px;
	text-align: right;
	float: right;
	margin-bottom: 25px;
}

footer .footer-links {
	text-align: right;
	padding: 0 40px 0 40px;
	margin-top: 25px;
}

footer .footer-links a {
	color: #2bb2ef;
	font-family: 'Gotham-Bold';
}

footer .footer-links a.linkedin {
	width: 25px;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	background-color: #51bcec;
	color: #1a171b;
	text-align: center;
	border-radius: 50%;
	margin-left: 20px;
}

.bottom-footer {
	padding-top: 80px;
}

.bottom-footer ul {}

.bottom-footer ul li {
	list-style: none;
	display: inline-block;
	font-size: 10px;
	color: #8c8c8c;
	position: relative;
	padding: 0 15px;
}

.bottom-footer ul li:before {
	content: "";
	width: 1px;
	height: 9px;
	background-color: #8c8c8c;
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -4px;
}

.bottom-footer ul li:last-child:before {
	background-color: transparent;
}

.bottom-footer ul li a {
	color: #ffffff;
}

.bottom-footer ul li a:before {
	content: "";
}

footer ul li a:hover {
	color: #51bcec;
}

.gradient-line {
	width: 1px;
	min-height: 225px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,48c1f7+50,ffffff+100 */
	position: absolute;
	bottom: -142px;
	right: -57px;
	background: rgb(255, 255, 255);
	/* Old browsers */
	/* FF3.6-15 */
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(72, 193, 247, 1) 50%, rgba(255, 255, 255, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	-webkit-transform: rotate(-50deg);
	transform: rotate(-50deg);
}

.opposite-line {
	bottom: -140px;
	right: auto;
	left: -40px;
	-webkit-transform: rotate(50deg);
	transform: rotate(46deg);
}

.roll-item .icon {
	display: inline-block;
	width: auto;
	vertical-align: middle;
	background: url(../images/round-border-bg.png) no-repeat;
	background-size: cover;
	width: 283px;
	height: 283px;
	position: relative;
}

.roll-item .icon img {
	display: block;
	width: 100px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

.roll-item .dispatch-info {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
	margin-left: -36px;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
}

.roll-item .dispatch-info h4 {
	margin-bottom: 21px;
	text-transform: uppercase;
	font-size: 21px;
	font-family: 'Gotham-Medium';
	max-width: 424px;
}

.film_roll_child {
	width: 850px !important;
	margin: 0 20px;
}

#film_roll {
	height: 100%;
}

.roll-item {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

.slick-dots li.slick-active button:before {
	color: #51bcec;
}

.slick-dots li button:before {
	color: #394d66;
	font-size: 10px;
}

.slick-next {
	right: 42%;
	top: auto;
	bottom: -12%;
	z-index: 999999;
	width: auto;
}

.slick-next:before {
	content: none;
}

.slick-dotted.slick-slider {
	cursor: move;
}


/*1/16/2019 Css*/

.inner-banner {}

.inner-title {
	padding: 50px 0 20px 0;
}

.list-item {}

.list-item li {
	list-style: none;
	position: relative;
	padding-left: 19px;
	padding-bottom: 11px;
}

.list-item li:before {
	content: "\f046";
	font-family: FontAwesome;
	position: absolute;
	top: 2px;
	left: 0;
	font-size: 14px;
}

.list-type h4 {
	font-size: 20px;
	font-family: 'Gotham-Bold';
	margin-bottom: 15px;
}

.no-padding {
	padding: 0;
}

.mk-form-row.half {
	float: left;
	width: 50%;
}

.mk-form-row.half .wpcf7-form-control {
	width: 100%;
	height: 58px;
	border: 1px solid #333;
	-webkit-box-shadow: 0 0 0 1px #333;
	box-shadow: 0 0 0 1px #333;
	color: #222;
	background-color: transparent;
	outline: 0;
	font-size: 12px;
	-webkit-transition: all .2s ease 0s;
	transition: all .2s ease 0s;
	padding: 0 15px;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 1px;
}

span.wpcf7-list-item input[type="radio"] {
	display: inline-block;
	vertical-align: middle;
}

.mk-form-row input[type=submit] {
	width: 100%;
	background: rgba(0, 0, 0, 0);
	padding: 18px;
	font-size: 13px;
	font-weight: 700;
	border: 1px solid #333;
	-webkit-box-shadow: 0 0 0 1px #333;
	box-shadow: 0 0 0 1px #333;
	color: #222;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-transition: all .15s ease 0s;
	transition: all .15s ease 0s;
}

.blue-line {
	width: 63px;
	height: 7px;
	display: block;
	background-color: #51bcec;
	border-radius: 5px;
	margin-bottom: 40px;
}

.inner-banner .hero-content {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.inner-banner .hero-content h2 {}

.inner-banner .hero-content h2 span {}

.inner-banner .hero-content h3 {}


/*New Css Start*/

.icon-tab-list {
	margin-top: 58px;
}

.icon-tab-list li {
	list-style: none;
	display: inline-block;
	position: relative;
	/* width: 65px;
     */
	margin: 0 50px;
}

.icon-tab-list li+li:after {
	content: "";
	background: url(../images/small-line.png) no-repeat;
	background-size: cover;
	width: 50px;
	height: 1px;
	display: block;
	z-index: 99;
	position: absolute;
	top: 30%;
	left: -87px;
}

.icon-tab-list li:nth-child(3):after {
	left: -61px;
}

.icon-tab-list li a {
	display: block;
	text-align: center;
	position: relative;
	z-index: 2;
}

.icon-tab-list li a span {
	display: block;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 16px;
}

.icon-tab-list li a img {
	margin: 0 auto;
}

.innerpage-section .map-bg1 {
	padding: 50px 0 60px 0;
}

.innerpage-section .line {
	top: 60px;
}

.innerpage-section .map-bg1 {
	background: url(../images/service-bg.png) no-repeat center -732px !important;
}

.innerpage-section .line-motion {
	right: 120px;
	-webkit-transform: translate(50%, 100%);
	transform: translate(50%, 100%);
}

.dispatch-content {
	height: 100%;
	/*! justify-content: center; */
	/*! flex-direction: column; */
	/*! display: flex; */
	margin-top: 120px;
}

.dispatch-content h5 {
	color: #0a111a;
	font-size: 18px;
	font-family: 'Gotham-Medium';
	margin-bottom: 20px;
	line-height: 25px;
}

.dispatch-content .list {}

.dispatch-content .list li {
	list-style: none;
	color: #838282;
	margin-bottom: 8px;
	position: relative;
	padding-left: 18px;
}

.dispatch-content .list li:before {
	content: "";
	width: 6px;
	height: 6px;
	background-color: #51bcec;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 8px;
	position: absolute;
	top: 7px;
	left: 0;
}

.dispatch-content b {
	color: #0a111a;
	display: block;
	margin: 40px 0 50px 0;
}

.dispatch-content .solid-btn {
	background-color: #51bcec;
	color: #ffffff;
	font-size: 16px;
	padding: 15px 15px 15px 32px;
	display: inline-block;
}

.dispatch-content .solid-btn i {
	display: inline-block;
	width: 30px;
	margin-left: 30px;
}

.dispatch-content .solid-btn i img {
	width: 100%;
}

.section-img {
	background: url(../images/location-img1.png) no-repeat;
	/* min-height: 100vh; */
	background-position: -85px -264px;
	background-size: 80%;
	padding-bottom: 140px;
	/*    padding-bottom: 140px;*/
	position: relative;
}

.section-img h4 {
	margin-top: 40px;
}

.section-img-right {
	background-position: 470px -330px;
	position: relative;
}

.section-img-right.push-fix {
	padding-bottom: 217px;
}

.innerpage-section .section-img-right .line {
	top: 70px;
	left: 0;
}

.innerpage-section .section-img-right .line-motion {
	-webkit-transform: translate(-30%, 100%);
	transform: translate(-30%, 100%);
	left: 0;
}

.section-img-right .dispatch-content {
	margin-top: 105px;
}

.teamuse-section {
	background: url(../images/team-use-bg.jpg) no-repeat;
	background-size: cover;
	padding: 100px 0;
	display: none;
}

.teamuse-section .title {
	color: #ffffff;
}

.teamuse-section ul {
	display: table;
	max-width: 800px;
	margin: 0 auto;
}

.teamuse-section ul li {
	list-style: none;
	display: table-cell;
	padding: 0 60px;
	vertical-align: middle;
}

.teamuse-section ul li a {}

.demo-section {
	padding: 100px 0;
}

.demo-section .title {}

.demo-section .title h3 {
	font-family: 'Gotham-Book';
	line-height: 40px;
}

.demo-section .small-icon-wrapper {
	width: 220px;
	margin: 0 auto 40px auto;
}

.demo-section .btn-outline-primary {
	border-radius: 0;
	font-size: 19px;
	font-family: 'Gotham-Medium';
	text-transform: uppercase;
	color: #51bcec;
	border-color: #51bcec;
}

.demo-section .btn-outline-primary:hover {
	background-color: #51bcec;
	color: #ffffff;
}


/*===========Inner Pages css by Rajesh starts==============*/

.dispatch-carousel {
	text-align: left;
	/*    margin: 120px auto 230px auto !important;*/
	margin: 120px auto !important;
}

.dispatch-carousel .item {
	padding: 0 10px;
}

.dispatch-carousel h3 {
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: none;
	color: #1b2737;
}

.dispatch-carousel p {
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 0;
	text-transform: none;
	color: #1b2737;
}

.slick-dots li button {
	padding: 3px;
}

.dispatch-carousel .slick-dots li button:before {
	/*    font-size: 24px;*/
}

.dispatch-carousel .slick-dots {
	bottom: -70px;
}

.dispatch-carousel .slick-dots li:hover button:before,
.dispatch-carousel .slick-dots li.slick-active button:before {
	color: #51bcec;
}

.contact-bg {
	background: url(../images/contact-banner.png) 0 0 no-repeat;
	height: 427px;
}

.contact-bg .hero-content {
	height: 420px;
}

.talk-section {
	background: url(../images/new-cta-bg.jpg) 0 0 no-repeat;
	background-size: cover !important;
	height: auto;
}

.talk-section h3 {
	margin-bottom: 60px;
}

.talk-section .cta-wrap,
.contact-btm .cta-wrap,
.pricing-compare-wrap .cta-wrap {
	text-align: center;
	margin: 0 auto;
	clear: both;
	display: block;
}

.talk-section .cta-wrap .cta-btn {
	border-radius: 0;
	border: solid 1px #51bcec;
	color: #51bcec;
	padding: 15px 45px;
	text-transform: uppercase;
	font-size: 23px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	font-family: 'Gotham-Medium';
}

.talk-section .cta-wrap .cta-btn:hover {
	background: #51bcec;
	color: #fff;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.contact-wrap h1 {
	text-align: center;
	padding-top: 40px;
	margin-bottom: 25px;
	font-weight: 700;
	font-size: 40px;
	font-family: 'Gotham-Bold';
	text-transform: uppercase;
}

.contact-wrap .hero-content {
	height: 427px;
}

.contact-wrap:after {
	content: '';
	background: url(../images/pattern-btm.png) 50% 50% no-repeat;
	height: 763px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0;
	z-index: 0;
}

.contact-top {
	position: relative;
	z-index: 10;
}

.contact-top .c-block {
	margin-bottom: 95px;
	text-align: center;
}

.contact-top .c-block h3 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 20px;
	text-align: left;
}

.contact-top .c-block p {
	font-size: 16px;
	color: #838282;
	margin-bottom: 35px;
	text-align: left;
}

.contact-top .c-block p a {
	display: block;
}

.contact-top .c-block .c-circular {
	margin: 0 auto;
	display: block;
	background: url(../images/circle.png) 0 0 no-repeat;
	width: 192px;
	height: 192px;
	background-size: cover !important;
}

.contact-top .c-block .c-circular img {
	text-align: center;
	margin: 0px auto;
	padding: 50px;
}

.contact-btm {
	max-width: 1046px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
}

.contact-btm h2 {
	font-size: 30px;
	text-align: center;
	font-weight: 400;
	margin-bottom: 70px;
	text-transform: uppercase;
}

.contact-btm h2 span,
.pricing-accordion h2 span {
	font-size: 40px;
	font-weight: 700;
	color: #51bcec;
	display: block;
	font-family: 'Gotham-Bold';
}

.contact-btm .form-group {
	margin-bottom: 30px;
}

.contact-btm input,
.contact-btm textarea {
	border-radius: 0;
	border-color: #e1e1e1;
	padding: 10px 20px;
	height: 52px;
	background: transparent;
}

.contact-btm textarea {
	height: 228px;
	resize: none;
}

.contact-btm .submit-btn,
.contact-wrap .contact-top .cta-btn,
.pricing-plan-wrap .cta-wrap .cta-btn,
.pricing-compare-wrap .cta-wrap .cta-btn {
	background-color: #51bcec;
	color: #ffffff;
	font-size: 16px;
	padding: 15px 20px 15px 20px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	border: none;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.contact-btm .submit-btn i,
.contact-wrap .contact-top .cta-btn i {
	display: inline-block;
	width: 30px;
	margin-left: 10px;
}

.contact-btm .submit-btn:hover,
.contact-wrap .contact-top .cta-btn:hover,
.pricing-plan-wrap .pricing-plan .plan-btn:hover {
	background: #000;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.contact-btm ::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #b5b5b5;
}

.contact-btm ::-moz-placeholder {
	/* Firefox 19+ */
	color: #b5b5b5;
}

.contact-btm :-ms-input-placeholder {
	/* IE 10+ */
	color: #b5b5b5;
}

.contact-btm :-moz-placeholder {
	/* Firefox 18- */
	color: #b5b5b5;
}

.contact-wrap .contact-top .cta-btn {
	display: block;
	float: left;
	width: 100%;
}

.contact-wrap .contact-top .cta-btn span {
	float: left;
}

.contact-wrap .contact-top .cta-btn i {
	float: right;
	margin-top: 10px;
}

.contact-wrap .contact-top .cta-btn:before,
.contact-wrap .contact-top .cta-btn:after,
.contact-top .c-block:before,
.contact-top .c-block:after,
.pricing-plan-wrap .cta-wrap:before,
.pricing-plan-wrap .cta-wrap:after,
.pricing-plan-wrap:before,
.pricing-compare-wrap:before,
.pricing-plan-wrap:after,
.pricing-compare-wrap:after {
	content: '';
	display: table;
	clear: both;
}

.pricing-bg {
	background: url(../images/pricing-banner.jpg) 0 0 no-repeat;
}

.pricing-bg .hero-content {
	width: 100%;
	height: auto;
	margin-top: 160px;
}

.pricing-bg .hero-content h3 {
	text-transform: uppercase;
	font-size: 30px;
	color: #51bcec;
	font-weight: 400;
}

.pricing-plan-wrap,
.pricing-compare-wrap {
	padding-top: 10px;
}

.pricing-compare-wrap {
	position: relative;
	z-index: 2;
}

.pricing-plan-wrap {
	padding-top: 0;
	padding-bottom: 90px;
}

.pricing-plan-wrap .pricing-plan {
	border: solid 1px #d4d4d4;
	border-radius: 3px;
	padding: 30px;
	position: relative;
	text-align: center;
	z-index: 1;
}

.pricing-plan-wrap .pricing-plan h2 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 20px;
}

.pricing-plan-wrap .pricing-plan .plan-btn-wrap {
	position: absolute;
	top: 100%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 200px;
}

.pricing-plan-wrap .pricing-plan .plan-btn {
	text-transform: none;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	display: block;
	padding: 13px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.pricing-plan-wrap .pricing-plan h3 {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 30px;
}

.pricing-plan-wrap .pricing-plan h3 sup {}

.pricing-plan-wrap .pricing-plan h4 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 20px;
}

.pricing-plan-wrap .pricing-plan p {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 15px;
	padding-bottom: 0;
}

.pricing-plan-wrap .pricing-plan p b,
.pricing-plan-wrap .pricing-plan p strong {
	font-weight: 700;
	font-family: 'Gotham-Medium';
}

.gray {
	color: #77797b;
}

.btn-gray {
	background: #77797b;
	border: solid 1px #51bcec;
}

.teal {
	color: #39c6c6;
}

.btn-teal {
	background: #39c6c6;
	border: solid 1px #39c6c6;
}

.purple {
	color: #5f5686;
}

.btn-purple {
	background: #5f5686;
	border: solid 1px #5f5686;
}

.green {
	color: #39bc54;
}

.btn-green {
	background: #39bc54;
	border: solid 1px #39bc54;
}

.pricing-plan-wrap .pricing-plan .plan-btn:hover {
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	background: #000;
	border-color: #000;
}

.pricing-plan h4 {
	font-size: 16px;
	font-family: 'Gotham-Medium';
}

.pricing-plan-wrap .pricing-plan h3.mt-5 {
	margin-top: 5rem !important;
}

.pricing-plan-wrap .pricing-compare-wrap {}

.pricing-plan-wrap .line {
	top: 60%;
}

.pricing-plan-wrap .cta-wrap {
	float: none;
	margin: 70px auto;
	width: 842px;
	position: relative;
	z-index: 2;
	text-align: center;
	text-transform: uppercase;
}

.pricing-plan-wrap .cta-wrap .cta-btn {
	display: block;
	text-align: center;
}

.pricing-compare-wrap h2 {
	font-size: 40px;
	font-weight: 700;
	color: #51bcec;
	text-align: center;
	font-family: 'Gotham-Bold';
	text-transform: uppercase;
}

.pricing-compare-wrap h3 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	margin-bottom: 80px;
}

.pricing-compare-wrap .table-responsive {
	margin-bottom: 35px;
}

.pricing-compare-wrap table>tbody>tr>td {
	border-color: #ebebeb;
}

.pricing-compare-wrap table>thead>tr>td {
	text-transform: uppercase;
	text-align: center;
	font-family: 'Gotham-Bold';
}

.pricing-compare-wrap table>thead>tr>td:nth-child(even),
.pricing-compare-wrap table>tbody>tr>td:nth-child(even) {
	text-align: center;
	vertical-align: middle;
	background: #f6f6f6;
	margin-left: auto;
	margin-right: auto;
}

.pricing-compare-wrap table>tbody>tr>td img {
	margin: 0 auto;
}

.pricing-compare-wrap table>thead>tr>td {
	border-top-color: transparent;
}

.pricing-compare-wrap table>tbody>tr>td {
	border-top-color: transparent;
	border-bottom: solid 1px #ebebeb;
}

.pricing-compare-wrap .cta-wrap .cta-btn {
	padding: 10px 20px 10px 30px;
	text-transform: uppercase;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.pricing-compare-wrap .cta-wrap .cta-btn i {
	display: inline-block;
	margin-left: 30px;
}

.pricing-compare-wrap .cta-wrap .cta-btn:hover,
.pricing-plan-wrap .cta-wrap .cta-btn:hover {
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	background: #000;
}

.talk-section h3 {
	font-size: 40px;
	font-family: 'Gotham-Book';
}

.talk-section h3 span {
	display: inline-block;
	text-align: center;
	font-family: 'Gotham-Bold';
}

.talk-section h4 {
	margin-top: 0;
	margin-bottom: 30px;
	font-family: 'Gotham-Book';
}

.talk-section h4 span {
	font-family: 'Gotham-Bold';
}

.pricing-accordion {
	padding: 130px 0 190px 0;
	background: url('../images/faq-top-bg.png') 50% 0% no-repeat;
}

.pricing-accordion .card {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom: -3px;
	border-color: transparent;
	background: transparent;
}

.pricing-accordion .card-header {
	padding: 0px;
	border-radius: 0;
	color: #000;
	font-family: 'Gotham-Medium';
	background-color: #fff;
	border-top: solid 1px #ebebeb;
}

.pricing-accordion .card-header h5 {
	font-size: 18px;
}

.pricing-accordion .card-header h5>button.btn-link {
	display: block;
	padding: 15px 0;
	text-decoration: none;
	color: #000;
	text-align: left;
	width: 100%;
	position: relative;
}

.pricing-accordion .card-header h5>button.btn-link:hover,
.pricing-accordion .card-header h5>button.btn-link:focus {
	color: #51bcec;
}

.pricing-accordion .more-less {
	float: right;
	color: #51bcec;
	margin-right: 20px;
	display: block;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -12px;
}

.icon {
	position: relative;
}

.icon:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 23px;
	height: 23px;
	background-repeat: no-repeat !important;
	background-position: 50% 50% !important;
}

.icon-minus:before {
	background-image: url(../images/icon-minus.svg);
}

.icon-plus:before {
	background-image: url(../images/icon-plus.svg);
}

.pricing-accordion .card-body {
	color: #838282;
	font-size: 16px;
	font-family: 'Gotham-Light';
	border-top: #fff solid 1px;
	margin-top: -1px;
	padding: 15px 0 30px 0;
}

.pricing-accordion h2,
.seven-things-wrap h2 {
	font-size: 40px;
	text-align: center;
	margin-bottom: 70px;
	font-family: 'Gotham-Book';
}

.pricing-accordion h2 span,
.seven-things-wrap h2 span {
	display: inline-block;
}

.seven-things-wrap {
	padding: 120px 0;
	background: #001227 url(../images/things-bg.png) 0 0 no-repeat;
	background-size: cover !important;
}

.seven-things-wrap h2 {
	color: #fff;
}

.seven-things-wrap h2 span {
	color: #51bcec;
}

.seven-things-wrap ul {
	list-style: none;
	margin: 0 auto 70px auto;
	padding: 0;
	text-align: center;
}

.seven-things-wrap ul:last-child {
	margin-bottom: 0;
}

.seven-things-wrap ul li {
	display: inline-block;
	padding: 0 5%;
}

.seven-things-wrap ul li:nth-child(5) {
	clear: both;
}

.seven-things-wrap ul li .icon-b {
	margin: 0 auto;
	display: block;
	text-align: center;
}

.seven-things-wrap ul li .icon-b img {
	text-align: center;
	margin: 0 auto;
	display: block;
}

.seven-things-wrap ul li .icon-text {
	text-transform: uppercase;
	font-size: 19px;
	color: #fff;
	font-family: 'Gotham-Medium';
	display: block;
	padding-top: 20px;
}

.title-full {
	max-width: 100%;
}

.title-full span {
	font-size: 40px;
}

.title-full h3 {
	font-size: 30px;
}

.title-full h3 span.blue-text {
	display: block;
	font-size: 40px;
}

.title-full.title-con-full h3 {
	font-size: 40px;
}

.title-full.title-con-full h3 span {
	display: inline-block;
}

.line {
	max-width: 700px;
	height: 5px;
	width: 100%;
	position: absolute;
	top: 220px;
	right: 0;
	display: block;
	background-color: #51bcec;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.innerpage-section .line {
	top: 60px;
	right: -20vw;
}

.innerpage-section .section-img-right .line {
	top: 70px;
	left: -20vw;
}

.text-big h3.t-40 {
	font-size: 40px;
	text-transform: uppercase;
}


/*===========Inner Pages css by Rajesh ends==============*/


/*dispatccher css*/

.section-img {
	background: none;
}

.img-holder {
	position: relative;
	display: block;
}

.img-holder .map-overlay-bg {
	position: absolute;
	top: -250px;
	left: 0;
	z-index: 1;
	-o-object-fit: cover !important;
	object-fit: cover !important;
	height: 1000px;
}

.img-holder .circle-bg {
	position: absolute;
	width: 500px;
	height: auto;
	z-index: 0;
	top: 0px;
	left: 40px;
	display: none;
}

.img-holder .img {
	width: 550px;
	margin: 0 auto;
	position: relative;
	top: 0px;
	z-index: 2;
	text-align: center;
}

.mobile--view {
	display: none;
}


/*== new css below ===*/

.pricing-compare-wrap .table-responsive {
	overflow-x: auto !important;
}

.pricing-plan-wrap {
	position: relative;
}

.pricing-plan-wrap .line {
	top: 100%;
}

.showmore-button {
	background-color: #51bcec;
	color: #ffffff;
	font-size: 16px;
	outline: none;
	cursor: pointer;
	margin: 0 auto;
	display: block;
	max-width: 150px;
	position: relative;
	padding: 16px 20px 16px 40px;
	text-transform: uppercase;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.showmore-button:after {
	content: '';
	position: absolute;
	top: 16px;
	right: 30px;
	width: 12px;
	height: 19px;
	background: url(../images/icon-down.png) 0 0 no-repeat;
}

.more-less:after {
	background: url(../images/icon-up.png) 0 0 no-repeat;
}

.section-img .b-row {
	/*    position: relative;*/
}

.section-img .b-row .b-col-text {}

.section-img .b-row .b-col-img {
	position: absolute;
	right: 0;
}

.demo-section {
	padding: 140px 0 100px 0;
}

.section-img:last-child {
	padding-bottom: 50px;
}

.dispatch-carousel {
	margin: 50px auto 120px auto !important;
}

.navbar-nav .dropdown-menu {
	padding: 0;
}

.dropdown-item,
.navbar-expand-lg .navbar-nav ul.dropdown-menu .dropdown-item a {
	padding-left: 35px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

ul.dropdown-menu .dropdown-item:after {
	left: 25px;
	top: 12px;
}

.navbar-expand-lg .navbar-nav ul.dropdown-menu .dropdown-item {
	border-bottom: solid 1px #e2e2e2;
}

.navbar-expand-lg .navbar-nav ul.dropdown-menu .dropdown-item:last-child {
	border-bottom: none;
}

.navbar-expand-lg .navbar-nav ul.dropdown-menu .dropdown-item,
.navbar-expand-lg .navbar-nav ul.dropdown-menu .dropdown-item:hover {
	background-color: transparent;
	border-left: solid 10px transparent;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.navbar-expand-lg .navbar-nav ul.dropdown-menu .dropdown-item:first-child {
	border-radius: 7px 0 0 0;
}

.navbar-expand-lg .navbar-nav ul.dropdown-menu .dropdown-item:last-child {
	border-radius: 0 0 0 7px;
}

.dropdown-item.active,
.dropdown-item:active,
.navbar-expand-lg .navbar-nav ul.dropdown-menu .dropdown-item:hover,
.navbar-expand-lg .navbar-nav ul.dropdown-menu .dropdown-item.active {
	color: #51bcec;
	text-decoration: none;
	background-color: transparent;
	border-left: solid 10px #51bcec;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.navbar-expand-lg .navbar-nav ul.dropdown-menu .dropdown-item a,
.navbar-expand-lg .navbar-nav ul.dropdown-menu .dropdown-item:hover a,
.navbar-expand-lg .navbar-nav ul.dropdown-menu .dropdown-item.active a,
.navbar-expand-lg .navbar-nav ul.dropdown-menu .dropdown-item:active a {
	background-color: transparent;
	color: #51bcec;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.img-holder .map-overlay-bg {
	display: none;
}

.img-holder:before {
	content: '';
	position: absolute;
	top: -430px;
	left: -210px;
	height: 1381px;
	width: 1232px;
	background: url(../images/map-overlay-bg.png) 0 0 no-repeat;
	background-size: cover;
	z-index: -1;
}

.showmore-button {
	margin-bottom: 60px;
}


/* Blog Css Start */

.custom-container {
	max-width: 960px;
}

.blog-section {
	padding: 50px 0;
}

.c_title {
	font-size: 17px;
	text-transform: uppercase;
	color: #000000;
	font-family: 'Gotham-Bold';
	margin-bottom: 7px;
}

.l_blog {
	margin-bottom: 65px;
}

.l_blog_img {
	height: 315px;
	overflow: hidden;
	border-radius: 5px;
	position: relative;
	margin-bottom: 22px;
}

.l_blog_img img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
}

.l_blog_img .blog-caption,
.fig-content {
	position: absolute;
	bottom: 25px;
	left: 0;
	color: #fff;
	width: 100%;
	padding: 0 0 0 25px;
}

.l_blog_img .blog-caption h3,
.fig-content h4 {
	float: left;
	font-size: 20px;
	font-family: 'Gotham-Medium';
	text-shadow: 2px 1px 3px #000;
}

.l_blog_img .blog-caption .blog-links,
.fig-content .blog-links {
	float: right;
	background-color: #26bcff;
	color: #ffffff;
	padding: 4px 15px;
	display: block;
	text-align: center;
}

.l_blog_img .blog-caption .blog-links i,
.fig-content .blog-links i {
	display: inline-block;
	margin-left: 16px;
	vertical-align: middle;
}

.l_blog_img .blog-caption .blog-links i img,
.fig-content .blog-links i img {
	width: 30px;
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}

.b_date {
	font-size: 15px;
	font-family: 'Gotham-Medium';
	color: #3f3f3f;
	margin: 13px 0 7px 0;
}

.b_date a {
	color: #3f3f3f;
}

.blog-content {
	color: #ababab;
}

.blog-content p {
	padding: 15px 0;
}

.blog-content h3 {
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Gotham-Medium';
	margin-top: 14px;
}

.blog-section figure {
	margin-bottom: 60px;
}

.blog-section figure .fig-img {
	position: relative;
	height: 200px;
	overflow: hidden;
	border-radius: 5px;
}

.blog-section figure .fig-img img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
}

.fig-content .blog-links {
	position: absolute;
	top: 20px;
	right: 0;
}

figure .blog-content p {
	max-height: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.fig-content {
	height: 100%;
	bottom: 0;
	justify-content: flex-end;
	flex-direction: column;
	display: flex;
	padding: 20px;
}

.fig-content h4 {
	font-size: 16px;
}

.fig-content .blog-links i {
	width: 27px;
	margin-left: 7px;
}

.fig-content .blog-links {
	padding: 2px 12px;
	font-size: 12px;
}

.popular-list {
	margin-bottom: 30px;
}

.popular-list li {
	list-style: none;
	position: relative;
	padding-right: 100px;
	margin-bottom: 17px;
	font-family: 'Gotham-Medium';
}

.popular-list li a {
	display: block;
	width: 100%;
	height: 100%;
	margin-top: 10px;
}

.popular-list li a img {
	width: 30px;
}

.popular-list li .thumbnail-img {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	height: 59px;
	overflow: hidden;
	border-radius: 5px;
}

.popular-list li .thumbnail-img a {
	margin-top: 0;
}

.popular-list li .thumbnail-img img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
}

.b_newsletter {
	background-color: #26bcff;
	padding: 15px 25px;
	color: #fff;
	border-radius: 5px;
	margin-bottom: 30px;
}

.b_newsletter .news-title {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 22px;
}

.b_newsletter form {}

.b_newsletter form .form-group {}

.b_newsletter form .form-control {
	margin: 15px 0;
	border-radius: 3px;
	height: 43px;
	border: none;
	box-shadow: none;
	font-size: 14px;
}

.b_newsletter form .btn {
	text-transform: uppercase;
	font-size: 13px;
	padding: 10px 20px;
	background-color: #000000 !important;
}

.side-category,
.side-tag {
	background-color: #efefef;
	padding: 35px;
	border-radius: 5px;
	margin-bottom: 60px;
}

.side-category ul {
	margin-top: 20px;
}

.side-category ul li {
	list-style: none;
	margin: 10px 0;
	transition: all ease-in-out 0.5s;
}

.side-category ul li a {
	font-family: 'Gotham-Medium';
	color: #26bcff;
}

.side-category ul li a i {
	display: inline-block;
	width: 26px;
	margin-right: 10px;
	display: none;
}

.side-category ul li:hover a i {
	display: inline-block;
	vertical-align: middle;
}

.pub-box {
	background-color: #474747;
	height: 306px;
	border-radius: 5px;
	justify-content: center;
	flex-direction: column;
	display: flex;
	align-items: center;
	color: #fff;
	text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
}

.pub-box a {
	color: #b8b8b8;
	display: block;
	font-size: 40px;
	font-family: 'Gotham-Medium';
}

.side-tag {
	margin-bottom: 30px;
}

.mb30 {
	margin-bottom: 30px;
}

.side-tag ul {
	margin-top: 18px;
}

.side-tag ul li {
	list-style: none;
	display: inline-block;
}

.side-tag ul li a {
	border: 1px solid #26BCFE;
	color: #26BCFE;
	padding: 3px 6px;
	display: block;
	margin-bottom: 6px;
	border-radius: 3px;
	font-size: 13px;
	font-family: 'Gotham-Medium';
	margin-right: 3px;
}

.side-tag ul li a:hover {
	background-color: #26BCFE;
	color: #ffffff;
}

.social-btn-wrapper {
	margin-top: 35px;
}

.social-btn-wrapper li {
	display: inline-block;
	margin-right: 8px;
}

.social-btn-wrapper li a {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #00a8ed;
	color: #fff;
	border-radius: 50%;
}

.social-btn-wrapper li a.facebook {
	background-color: #35629b;
}

.social-btn-wrapper li a.linkedin {
	background-color: #11709c;
}

.subscribe-btn {}

.subscribe-btn .btn {
	background-color: #37b6f9;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Gotham-Medium';
	border-radius: 3px;
}
.blog-bg {
    background: url(../images/DS_BlogHome_VF.jpg) 0 0 no-repeat;
    height: 154px;
    padding: 0;
    text-align: left;
}
.blog-bg .blog-header-title {
    height: 154px;
    align-items: flex-start;
    padding-left: 50px;
    z-index: 99;
    position: relative;
}
.blog-bg .blog-header-title h2 {
    font-family: 'Gotham-Bold';
    font-size: 30px;
    color: #30bcfa;
    text-transform: uppercase;

}
.blog-header .top-header a.btn {
    text-transform: uppercase;
}
@media only screen and (max-width: 1300px) {
    .blog-bg .blog-header-title {
        height: 154px !important;
    }
    .blog-bg {
        padding: 0 !important;
    }
 }
@media only screen and (max-width: 980px) {
    .blog-bg .blog-header-title {
        padding: 0 !important;
        align-items: center;
        height: 70px !important;
    } 
    .blog-bg {
        height: 70px; 
        padding: 0 !important;
    }
    .blog-bg .blog-header-title h2 {
        font-size: 25px;
    }
    .l_blog_img {
        height: 245px;        
    }
    .l_blog_img .blog-caption h3 {
        width: 100%;
        font-size: 14px;
    }
    .l_blog_img .blog-caption {
        bottom: 0;
        height: 100%;
        justify-content: flex-end;
        flex-direction: column;
        display: flex;
        padding: 20px;
    }
    .l_blog_img .blog-caption .blog-links {
        position: absolute;
        top: 20px;
        right: 0;
    }
    .popular-list li {
        margin-bottom: 27px;
    }
 }
@media only screen and (max-width: 480px) {
    .top-header a {
        margin: 3px 3px;        
    }
    .top-header a.btn {
        padding: 3px 9px;
        text-transform: none !important;
        font-size: 13px;
        margin: 0 1px;
    }
    .blog-section {
        padding: 20px 0;
    }
 }
 