@import url("bootstrap.min.css"); /* Using a url */
@import url("gotham.css"); /* Using a url */
@import url("chronicle.css"); /* Using a url */
@import url("font-awesome.css"); /* Using a url */
@import url("animation.css"); /* Using a url */
@import url("owl.carousel.min.css"); /* Using a url */
@import url("scrolleffect.css"); /* Using a url */
@import url("slick.css"); /* Using a url */
@import url("slick-theme.css"); /* Using a url */

html {
	height: 100%;
	box-sizing: border-box;
}
body {
	background-color: #fff;
	color: #2c3e50;
	counter-reset: section;
	font-size: 14px;
	font-family: 'Gotham-Book';
	margin: 0;
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
}
ul, ol, h1, h2, h3, h4, h5, h6, p {
	outline: none !important;
	margin: 0;
	padding: 0;
}
p + p {
	padding: 10px 0;
}
img {
	display: block;
	height: auto;
	max-width: 100%;
}
iframe {
	max-width: 100%;
}
a:hover, a:focus {
	outline: none;
	text-decoration: none;
}
.mt30 {
	margin-top: 40px;
}
.mt20 {
	margin-top: 20px !important;
}
.clear {
	clear: both;
}
/*Common Css*/
.mb-110 {
	margin-bottom: 110px !important;
}
.blue-text {
	color: #31b9f6;
}
.title {
	max-width: 850px;
	margin: 0 auto;
}
.title h3 {
	font-family: 'Gotham-Medium';
	font-size: 29px;
	line-height: 33px;
	text-transform: uppercase;
}
.title p {
	font-size: 20px;
	text-transform: uppercase;
}
.section {
	position: relative;
}
.pl-350 {
	padding-left: 355px !important;
}
.line {
	max-width: 420px;
	height: 5px;
	width: 100%;
	position: absolute;
	top: 220px;
	right: 0;
	display: block;
	background-color: #31b9f6;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.object-non-visible {
	opacity: 0;
	filter: alpha(opacity=0);
}
.object-visible, .touch .object-non-visible {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

/* Targeting only Firefox for smoothest animations */
@-moz-document url-prefix() {
 .object-visible, .touch .object-non-visible {
 -webkit-transition: opacity 0.6s ease-in-out;
 -moz-transition: opacity 0.6s ease-in-out;
 -o-transition: opacity 0.6s ease-in-out;
 -ms-transition: opacity 0.6s ease-in-out;
 transition: opacity 0.6s ease-in-out;
}
}

@media (min-width: 1200px) {
.container {
	max-width: 1217px;
}
}
/*Header Css Start*/
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 55px 0;
	z-index: 9;
}
.logo {
}
.logo a {
}
.logo a img {
}
.top-header {
}
.top-header a {
	font-size: 13px;
	padding: 0px 18px;
	margin: 3px 7px;
	color: #31b9f6;
	font-family: 'Gotham-Bold';
}
.top-header a.btn {
	border-radius: 0;
	padding: 3px 21px;
	border-color: #3b8bb4;
	color: #ffffff;
	font-family: 'Gotham-Light';
}
.navbar {
}
.navbar-brand {
	display: none;
}
.navbar-expand-lg .navbar-nav .nav-link {
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	padding: 7px 10px;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
	color: #31b9f6;
}
/*Hero Section Css Start*/
.hero-section {
	background: url(../images/hero-bg.jpg) no-repeat center -70px;
	height: 100%;
	position: relative;
	background-size: cover;
	padding: 29px 0 0 0;
}
.hero-content {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	height: 100vh;
	color: #fff;
}
.hero-content h2 {
	text-transform: uppercase;
	font-family: 'Gotham-Medium';
	font-size: 36px;
	line-height: 46px;
	letter-spacing: 1.4px;
}
.hero-content h2 span {
	display: block;
}
.hero-content h3 {
	font-size: 21px;
	margin-top: 13px;
	letter-spacing: 0.5px;
}
.hero-content p {
	margin: 50px 0 60px 0;
}
.hero-content p img {
	width: auto;
	margin: 0 auto;
}
.hero-content .button-wrapper {
}
.hero-content .button-wrapper a.btn {
	color: #ffffff !important;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 0;
	border-color: #4193bd !important;
	padding: 9px 30px;
	margin: 0 17px;
}
.scrolldown {
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -7px;
}
.scrolldown a {
	display: block;
}
.scrolldown a img {
	width: auto;
	margin: 0 auto;
}
/*Service Section Css Start*/
.service-section {
	background: url(../images/service-bg.png) no-repeat center -680px, url(../images/service-bg-bottom.png) no-repeat center 120%;
	padding: 130px 0 60px 0;
}
.service-list {
	position: relative;
}
.service-list .service-img {
	/* position: absolute; */
	/* left: 0; */
	/* top: -32px; */
	position: relative;
	float: left;
	vertical-align: top;
	width: 33%;
	margin-bottom: 110px;
}
.service-list .service-img img {
	width: 100%;
}
.service-list .service-info {
	position: absolute;
	right: 46px;
	top: -6px;
	width: 65%;
	margin-top: 30px;
	justify-content: center;
	display: flex;
	flex-direction: column;
	min-height: 150px;
}
.service-list .service-info h4 {
	margin-bottom: 14px;
}
.service-list .service-info h4 a {
	color: #0a111a;
	font-size: 18px;
	font-family: 'Gotham-Medium';
	display: block;
}
.service-list .service-info p {
	color: #838282;
	font-size: 13px;
}
/*Dispatch Section Css Start*/
.dispatch-section {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#01142a+0,041b35+100 */
	background: rgb(1,20,42); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(1,20,42,1) 0%, rgba(4,27,53,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(1,20,42,1) 0%, rgba(4,27,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(1,20,42,1) 0%, rgba(4,27,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01142a', endColorstr='#041b35', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 130px 0;/* background-size: cover; */
}
.dispatch-section:before {
	content: "";
	width: 100%;
	height: 100%;
	background: url(../images/dispatch-bg1.png) no-repeat center -76px;
	display: block;
	position: absolute;
	top: 0;
}
.dispatch-section .title h3 {
	color: #ffffff;
}
.dispatch-section .item {
	position: relative;
	padding-left: 160px;
}
.dispatch-section .item .icon {
	position: absolute;
	top: 0;
	left: 0;
}
.dispatch-section .item .icon img {
	width: auto;
}
.dispatch-section .item .dispatch-info {
}
.dispatch-section .item .dispatch-info h4 {
	font-size: 22px;
	text-transform: uppercase;
	font-family: 'Gotham-Medium';
}
.dispatch-section .item .dispatch-info p {
	color: #fff;
}
.dispatch-section .owl-item.active:first-child {
}
.dispatch-section .owl-item.active:last-child {
}
/*Client Section Css Start*/
.customer-section {
	background: url(../images/client-bg.jpg) no-repeat left top;
	background-size: cover;
	padding: 130px 0;
	background-attachment: fixed;
}
.customer-section .title {
}
.customer-section .title h3 {
	color: #ffffff;
	margin-bottom: 19px;
}
.customer-section .title p {
	font-size: 12px;
	color: #838282;
	text-transform: none;
	line-height: 19px;
}
.customer-section .title p span {
	display: block;
}
.customer-section .line {
	top: 265px;
}
.customer {
	text-align: center;
	color: #ffffff;
	padding: 0 60px;
}
.customer .img-thumbnail {
	background-color: transparent;
	border: none;
	width: auto;
	height: auto;
	border-radius: 0;
	text-align: center;
	margin-left: 32px;
	margin-bottom: 20px;

	
	
}
.customer .img-thumbnail img {
}
.customer .client-info {
}
.customer .client-info .client-title {
	font-size: 13px;
	padding-bottom: 20px;
	border-bottom: 1px solid #143e55;
	margin-bottom: 20px;
}
.customer .client-info .client-title h5 {
	font-size: 13px;
	line-height: 24px;
	font-family: 'Gotham-Medium';
}
.customer .client-info .client-title p {
	color: #31b9f6;
	font-family: 'Conv_Chronicle Text G1 Italic';
	font-style: italic;
}
.customer .client-info .description {
	font-family: 'Conv_Chronicle Text G1 Italic';
	font-style: italic;
}
.customer .client-info .description p {
}
/*Intro Section Css Start*/
.intro-section {
	background: url(../images/intro-bg.png) no-repeat left -50px;
	padding: 130px 0;
}
.intro-section .image-wrapper {
	margin-left: -15px;
}
.intro-section .introduction {
	text-align: center;
}
.intro-section .intro-title {
	margin-bottom: 22px;
}
.intro-section .intro-title h4 {
	font-size: 22px;
	text-transform: uppercase;
	line-height: 28px;
}
.intro-section .intro-title h4 span {
	display: block;
}
.intro-section .intro-title h3 {
	font-size: 28px;
	line-height: 35px;
	font-family: 'Gotham-Medium';
	margin-top: 1px;
}
.intro-section .intro-title h3 span {
	display: block;
}
.intro-section .introduction p {
}
.intro-section .introduction a.btn {
	margin-top: 42px;
	border-radius: 0;
	font-size: 25px;
	font-family: 'Gotham-Medium';
	text-transform: uppercase;
	color: #31b9f6;
	border-color: #31b9f6;
}
.intro-section .introduction a.btn:hover {
	color: #ffffff;
	background-color: #31b9f6;
}
/*Footer Css Start*/
footer {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#041b35+1,001227+100 */
	background: rgb(4,27,53); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(4,27,53,1) 1%, rgba(0,18,39,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(4,27,53,1) 1%, rgba(0,18,39,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(4,27,53,1) 1%, rgba(0,18,39,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#041b35', endColorstr='#001227', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 100px 0 60px 0;
}
footer .col-lg-4 {
	padding: 0 40px;
}
footer .footer-logo {
	margin-bottom: 35px;
}
footer .footer-content p {
	color: #979797;
	line-height: 18px;
	font-size: 12px;
}
footer .footer-menu {
	padding: 0 35px;
}
footer .footer-menu ul {
}
footer .footer-menu ul li {
	list-style: none;
	position: relative;
	margin-bottom: 17px;
}
footer .footer-menu ul li.active:before,
 .footer-menu ul li.enable:before {
	content: "";
	width: 40px;
	height: 1px;
	display: block;
	position: absolute;
	background-color: #24818f;
	top: 50%;
	left: 50%;
	margin-left: -20px;
}
footer .footer-menu ul li a {
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	display: block;
}
footer .footer-menu ul li.active a {
	color: #31b9f6;
}
footer .footer-menu ul li .sub-menu {
	position: absolute;
	right: 0;
	top: 0;
}
footer .footer-menu ul li .sub-menu li {
	margin-bottom: 0;
}
footer .footer-menu ul li .sub-menu li a {
	font-size: 10px;
	color: #31b9f6;
	line-height: 21px;
}
footer .btn-wrapper {
	margin-bottom: 40px;
}
footer .btn-wrapper a {
	border-radius: 0;
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	padding: 7px 20px;
	border-color: #3c90ba;
	margin-right: 20px;
}
footer .footer-links {
	text-align: right;
	padding: 0 71px 0 40px;
}
footer .footer-links a {
	color: #2bb2ef;
	font-family: 'Gotham-Bold';
}
footer .footer-links a.linkedin {
	width: 25px;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	background-color: #31b9f6;
	color: #1a171b;
	text-align: center;
	border-radius: 50%;
	margin-left: 20px;
}
.bottom-footer {
	padding-top: 80px;
}
.bottom-footer ul {
}
.bottom-footer ul li {
	list-style: none;
	display: inline-block;
	font-size: 10px;
	color: #8c8c8c;
	position: relative;
	padding: 0 15px;
}
.bottom-footer ul li:before {
	content: "";
	width: 1px;
	height: 9px;
	background-color: #8c8c8c;
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -4px;
}
.bottom-footer ul li:last-child:before {
	background-color: transparent;
}
.bottom-footer ul li a {
	color: #ffffff;
}
.bottom-footer ul li a:before {
	content: "";
}
footer ul li a:hover {
	color: #31b9f6;
}
.gradient-line {
	width: 1px;
	min-height: 225px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,48c1f7+50,ffffff+100 */
	position: absolute;
	bottom: -142px;
	right: -57px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(72,193,247,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(72,193,247,1) 50%, rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(72,193,247,1) 50%, rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-transform: rotate(-50deg);
	-moz-transform: rotate(-50deg);
	-o-transform: rotate(-50deg);
	-ms-transform: rotate(-50deg);
	transform: rotate(-50deg);
}
.opposite-line {
	bottom: -140px;
	right: auto;
	left: -40px;
	-webkit-transform: rotate(50deg);
	-moz-transform: rotate(50deg);
	-o-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	transform: rotate(46deg);
}
.roll-item .icon {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}
.roll-item .dispatch-info {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
	margin-left: -36px;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	    text-align: left;
}
.roll-item .dispatch-info h4 {
	margin-bottom: 21px;
	text-transform: uppercase;
	font-size: 21px;
	font-family: 'Gotham-Medium';
	max-width: 424px;
}
.film_roll_child {
	width: 850px !important;
	margin: 0 20px;
}
#film_roll { height: 100%; }

.roll-item {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
.slick-dots li.slick-active button:before{
	color:#31b9f6;
}
.slick-dots li button:before{
	    color: #394d66;
		font-size:10px;
}

.slick-next {
    right: 42%;
    top: auto;
    bottom: -12%;
    z-index: 999999;
    width: auto;
}
.slick-next:before {
    content: none;
}
.slick-dotted.slick-slider {
    
    cursor: move;
}
/*1/16/2019 Css*/
.inner-banner {
	
}
.inner-title  {
	padding: 50px 0 20px 0;
}
.list-item {

}
.list-item li {
	list-style: none;
	position: relative;
	padding-left: 19px;
	padding-bottom: 11px;
}
.list-item li:before {
	content: "\f046";
	font-family: FontAwesome;
	position: absolute;
	top: 2px;
	left: 0;
	font-size: 14px;
}
.list-type h4 {
	font-size: 20px;
	font-family: 'Gotham-Bold';
	margin-bottom: 15px;
}
.no-padding {
	padding: 0;
}
.mk-form-row.half {float: left;width: 50%;}
.mk-form-row.half .wpcf7-form-control {
	width: 100%;
	height: 58px;
	border: 1px solid #333;
	box-shadow: 0 0 0 1px #333;
	color: #222;
	background-color: transparent;
	outline: 0;
	font-size: 12px;
	transition: all .2s ease 0s;
	padding: 0 15px;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 1px;
}
span.wpcf7-list-item input[type="radio"] {
	display: inline-block;
    vertical-align: middle;
}
.mk-form-row input[type=submit] {
	width: 100%;
    background: rgba(0,0,0,0);
    padding: 18px;
    font-size: 13px;
    font-weight: 700;
    border: 1px solid #333;
    box-shadow: 0 0 0 1px #333;
    color: #222;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .15s ease 0s;
}
.blue-line {
	width: 63px;
	height: 7px;
	display: block;
	background-color: #51bcec;
	border-radius: 5px;
	margin-bottom: 40px;
}
.inner-banner .hero-content {
	align-items: flex-start;
}
.inner-banner .hero-content h2 {

}
.inner-banner .hero-content h2 span{

}
.inner-banner .hero-content h3 {

}
/*New Css Start*/
 .icon-tab-list {
     margin-top: 58px;
}
 .icon-tab-list li {
     list-style: none;
     display: inline-block;
     position: relative;
    /* width: 65px;
     */
     margin: 0 50px;
}
 .icon-tab-list li + li:after {
     content: "";
     background: url(../images/small-line.png) no-repeat;
     background-size: 100%;
     width: 50px;
     height: 1px;
     display: block;
     z-index: 99;
     position: absolute;
     top: 30%;
     left: -87px;
}
 .icon-tab-list li:nth-child(3):after {
     left: -61px;
}
 .icon-tab-list li a {
     display: block;
     text-align: center;
}
 .icon-tab-list li a span {
     display: block;
     text-transform: uppercase;
     color: #ffffff;
     margin-top: 16px;
}
 .icon-tab-list li a img {
     margin: 0 auto;
}
.innerpage-section .map-bg1{
     padding: 100px 0 60px 0;
}
.innerpage-section .line {
     top: 60px;
}
.innerpage-section .map-bg1 {
     background: url(../images/service-bg.png) no-repeat center -732px !important;
} 
.innerpage-section .line-motion {
     right: 120px;
     transform: translate(50%, 100%);
}
.dispatch-content {height: 100%;/*! justify-content: center; *//*! flex-direction: column; *//*! display: flex; */margin-top: 168px;}
.dispatch-content h5{
     color: #0a111a;
     font-size: 18px;
     font-family: 'Gotham-Medium';
     margin-bottom: 20px;
     line-height: 25px;
}
.dispatch-content .list {

}
.dispatch-content .list li {
     list-style: none;
     color: #838282;
     margin-bottom: 8px;
     position: relative;
     padding-left: 18px;
}
.dispatch-content .list li:before {
     content: "";
     width: 6px;
     height: 6px;
     background-color: #31b9f6;
     display: inline-block;
     border-radius: 50%;
     vertical-align: middle;
     margin-right: 8px;
     position: absolute;
     top: 7px;
     left: 0;
}
.dispatch-content b {
     color: #0a111a;
     display: block;
     margin: 40px 0 50px 0;
}
.dispatch-content .solid-btn {
     background-color: #31b9f6;
     color: #ffffff;
     font-size: 16px;
     padding: 15px 15px 15px 32px;
     display: inline-block;
}
.dispatch-content .solid-btn i {
     display: inline-block;
     width: 30px;
     margin-left: 30px;
}
.dispatch-content .solid-btn i img {
     width: 100%;
}
.section-img {
     background: url(../images/location-img1.png) no-repeat;
     /* min-height: 100vh; */
     background-position: -85px -210px;
     background-size: 80%;
     padding-bottom: 140px;
     position: relative;
}
.section-img-right {
    background-position: 420px -260px; 
    position: relative;
}
.innerpage-section .section-img-right .line {
    top: 70px;
    left: 0;
}
.innerpage-section .section-img-right .line-motion {
     transform: translate(-30%, 100%);
     left: 0;
}
.section-img-right .dispatch-content {
    margin-top: 105px;
}
.teamuse-section {
     background: url(../images/team-use-bg.jpg) no-repeat;
     background-size: cover;
     padding: 100px 0;
}
.teamuse-section .title {
     color: #ffffff;
}
.teamuse-section ul {     
display: table;     
max-width: 800px;     
margin: 0 auto;
}
.teamuse-section ul li {
list-style: none;
display: table-cell;
padding: 0 60px;
vertical-align: middle;
}
.teamuse-section ul li a{
}
.demo-section {
     padding: 100px 0;
}
.demo-section .title {

}
.demo-section .title h3 {
     font-family: 'Gotham-Book';
    line-height: 40px;
}
.demo-section .small-icon-wrapper {width: 220px;margin: 0 auto 40px auto;}
.demo-section .btn-outline-primary {
     border-radius: 0;
     font-size: 19px;
     font-family: 'Gotham-Medium';
     text-transform: uppercase;
     color: #31b9f6;
     border-color: #31b9f6;
}
.demo-section .btn-outline-primary:hover {
     background-color: #31b9f6;
     color: #ffffff;
}